In [12]:
class ABC:
    name = "Suratwala"
    def print_data(self):
        print("Name : " + self.name)

In [13]:
ABC_obj  = ABC()
ABC_obj.print_data()

Name : Suratwala

In [20]:
class a:
    def __init__(self,Id,Name):
        self.Id = Id,
        self.Name = Name

    def show(self):
        print("Id : " , self.Id)
        print("Name : " , self.Name)

In [21]:
obj_data = a(101,"Suratwala")
obj_data.show()

Id :  (101,)
Name :  Suratwala

In [29]:
# Single Inheritance

class a:
    def func1(self):
        print("Parent Class")

class b(a):
   pass

In [31]:
obj = b()
obj.func1()

Parent Class

In [45]:
class a:
    def func1(self):
        print('parent')

class b(a):
    def func2(self):
        self.func1()

In [46]:
obj = b()
obj.func2()

parent

In [47]:
# Multiple Inheritance

class a:
    def func1(self):
        print("Parent 1 ")

class b:
    def func2(self):
        print("Parent 2")

class c(a,b):
    def child_func(self):
        print("Child 1")

In [49]:
obj = c()
obj.func1()
obj.func2()
obj.child_func()

Parent 1
Parent 2
Child 1

In [50]:
# Multilevel inheritance
class grandparent:
    def func1(self):
        print("grandParent1 class method")
class parent(grandparent):
    def func2(self):
        print("Parent class method")
class child(parent):
    def func3(self):
        print("child class method")

In [51]:
obj3=child()
obj3.func1()
obj3.func2()
obj3.func3()

grandParent1 class method
Parent class method
child class method

In [52]:
# Heirarchical inheritance
class parent:
    def func1(self):
        print("Parent class method")
class child1(parent):
    def func2(self):
        print("child1 class method")
class child2(parent):
    def func3(self):
        print("child2 class method")

In [53]:
obj4=child1()
obj4.func1()
obj4.func2()

Parent class method
child1 class method

In [68]:
# polymorphism

# function overloading
class a:
    def abc(self):
        print("Hello")

class b(a):
    def abc(self,msg):
        print("Message :" , msg)

In [70]:
obj = b()
# obj.abc()
obj.abc("Hi,Suratwala Vraj!!")

Message : Hi,Suratwala Vraj!!

In [71]:
# Overriding
class parent:
    def parentdef(self):
        print("Parent Class Method")

class child(parent):
    def parentdef(self):
        print("child class Method")

In [73]:
obj = child()
obj.parentdef()

child class Method

In [74]:
# Runtime polymorphism
class parent:
    def func1(self):
        print("This is parent class method")
class child(parent):
    def func1(self):
        print("This is child class method")

In [75]:
obj
obj1 = parent()
obj2 = child()

In [78]:
a = int(input("Enter 0/1"))

if a == 0:
    obj = obj1
    obj.func1()
else:
    obj = obj2
    obj.func1()

Enter 0/1 0

This is parent class method

In [79]:
# Encoding

In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('titanic.csv')

In [82]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [83]:
dict = {"female" : 0,"male" : 1}
df['Sex'] = df['Sex'].map(dict)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S

In [86]:
from sklearn.preprocessing import LabelEncoder

In [92]:
le = LabelEncoder()

In [93]:
df = pd.read_csv('titanic.csv')

In [94]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [95]:
le = LabelEncoder()
df1 = le.fit_transform(df['Sex'])
df1

array([1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1])

In [ ]:
# ------------ Thank u --------------------