In [1]:
print("This is Tuple Example!")

This is Tuple Example!

In [3]:
tuple_1 = (10,20,30,40,50)
print(tuple_1)
print(type(tuple_1))

(10, 20, 30, 40, 50)
<class 'tuple'>

In [6]:
tuple_1_1 = 10,20,30
print(type(tuple_1_1))
print(tuple_1_1)

<class 'tuple'>
(10, 20, 30)

In [13]:
# other way to create tuples

# tuple() - constructor
tuple_1_2 = tuple([10,20,30])
print(type(tuple_1_2))
print(tuple_1_2)

# Create single values tuple
tuple_1_3 = (1,)
print(type(tuple_1_3))
print(tuple_1_3)

# Creating a tuple via comprehension
tuple_1_4 = tuple(x for x in range(10))
print(type(tuple_1_4))
print(tuple_1_4)

# Creating via Packing Methods
a = 100
b = 200

tuple_1_5 = a,b
print(type(tuple_1_5))
print(tuple_1_5)

<class 'tuple'>
(10, 20, 30)
<class 'tuple'>
(1,)
<class 'tuple'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
(100, 200)

In [ ]:
# Access Operation on Tuples.

# Indexing
print(tuple_1_4[1])

# Negative Indexing
print(tuple_1_4[-3])

# Slicing
print(tuple_1_4[0:6])

# Step Slicing
print(tuple_1_4[0::3])

# Step Slicing
print(tuple_1_4[::2])

# Looping
for x in tuple_1_4:
    print(tuple_1_4[x])

1
7
(0, 1, 2, 3, 4, 5)
(0, 3, 6, 9)
(0, 2, 4, 6, 8)
0
1
2
3
4
5
6
7
8
9

In [33]:
# Let's Create and Access Multi-dimensional Tuples

tuple_2 = (100,200,300,400,500,(10,20,30,40,50),600,700,800,900,1000)
print(tuple_2)
print(type(tuple_2))

# Accessing Nested Tuple
Nested_Tuple = tuple_2[5]
print(Nested_Tuple)
print(type(Nested_Tuple))

# Accessing
print(Nested_Tuple[3])

(100, 200, 300, 400, 500, (10, 20, 30, 40, 50), 600, 700, 800, 900, 1000)
<class 'tuple'>
(10, 20, 30, 40, 50)
<class 'tuple'>
40

In [35]:
# Iteration in Tuples

# for loop

for item in tuple_2:
    print(item)
    
    
# enumeration
for item in enumerate(tuple_2):
    print(item)

100
200
300
400
500
(10, 20, 30, 40, 50)
600
700
800
900
1000
(0, 100)
(1, 200)
(2, 300)
(3, 400)
(4, 500)
(5, (10, 20, 30, 40, 50))
(6, 600)
(7, 700)
(8, 800)
(9, 900)
(10, 1000)

In [42]:
# Merging The Tuples

tuple_3 = (10,20,30,40)
tuple_4 = ("ABC","BCD","CDE","EFG")
tuple_5 = (10.10,20.20,30.0)
tuple_6 = ("AB","BC","CD","DE")

# using '+' Operator
print(tuple_3 + tuple_4)

# Merging of Multiple Tuples
print(tuple_3 + tuple_4 + tuple_5)

# using Loop
for x in range(len(tuple_6)):
    print(tuple_4[x] + tuple_6[x])

(10, 20, 30, 40, 'ABC', 'BCD', 'CDE', 'EFG')
(10, 20, 30, 40, 'ABC', 'BCD', 'CDE', 'EFG', 10.1, 20.2, 30.0)
ABCAB
BCDBC
CDECD
EFGDE

In [43]:
t = (10, 20, 30, 40, 50)

print(len(t))         # 5
print(max(t))         # 50
print(min(t))         # 10
print(sum(t))         # 150
print(sorted(t))      # [10, 20, 30, 40, 50]
print(t.index(30))    # 2
print(t.count(20))    # 1

5
50
10
150
[10, 20, 30, 40, 50]
2
1

In [53]:
# Delete Operation in Tuples
tuple_7 = (50,500,5000,50000,500000)  
print(type(tuple_7))
print(tuple_7) 

# deleting specific element from position x
tuple_7_list = list(tuple_7)
type(tuple_7_list)
del tuple_7_list[2]

del tuple_7

<class 'tuple'>
(50, 500, 5000, 50000, 500000)

In [ ]:
# Update Operation

# Update is not directly Possible on Tuples because it is immutable.
# But Like Deletion Operation We can convert it into list and Update it!

# Refer List Updation from it's Notes!